mixin advMobItem(parentClass, title)
    div(class= parentClass + ' adv-mob-item adv-mob-item--closed')
        .adv-mob-item__title= title
        .adv-mob-item__content
            .adv-mob-item__content-inner
                h4.adv-mob-item__content-title We offer End-to-End Solutions.
                .adv-mob-item__text
                    p With tens of skilled and experienced developers, designers, engineers, experts, and project managers on your case, you can trigger sustainable growth after launch. We focus on pushing your business forward in any industry.
        //- End content
    //- End advantage mobile item