mixin custom-input(parentClass, mods, type, placeholder, name = '', id = '')
    div(class= parentClass + ' reserve-input ' + mods)
        input.reserve-input__field(type= type, placeholder= placeholder, id= id)
    //- End input