mixin review-item(parentClass, text)
    article(class= parentClass + ' review-item swiper-slide')
        .review-item__text
            p= text
        .review-item__name Domingo Menenses
        .review-item__position Cobrand - CEO
    //- End review item