section.advantages(data-scroll-section)
    .advantages__desktop
        .advantages__tabs.advantages-tabs
            a.advantages-tabs__item.advantages-tabs__item--active(href='#transparency') Transparency
            a.advantages-tabs__item(href='#communication') Communication
            a.advantages-tabs__item(href='#project-management') Project Management
            .advantages-tabs__line
                .advantages-tabs__line-active
        //- // /.advatages__tabs advatages-tabs
        .advantages__content-wr
            .advantages__symbol
                <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.2422 12.3359C18.2734 12.9297 18.7891 13.6172 18.7891 14.3984C18.7891 14.6797 18.7109 14.9531 18.5547 15.2187C18.2734 15.7187 17.8281 15.9687 17.2187 15.9687C16.7031 15.9687 16.1172 15.7812 15.4609 15.4062C14.9766 15.125 14.4844 14.7656 13.9844 14.3281C13.5 13.8906 12.8281 13.2422 11.9687 12.3828C11.125 11.5234 10.4531 10.8516 9.95312 10.3672C10.1406 11.0859 10.3906 12.0391 10.7031 13.2266C11.0312 14.4141 11.2656 15.3281 11.4062 15.9687C11.5469 16.5937 11.625 17.1641 11.6406 17.6797C11.625 18.5703 11.4375 19.2266 11.0781 19.6484C10.7187 20.0547 10.2812 20.2578 9.76562 20.2578C9.29687 20.2578 8.89844 20.0547 8.57031 19.6484C8.24219 19.2422 8.07812 18.5859 8.07812 17.6797C8.07812 17.1328 8.14062 16.5469 8.26562 15.9219C8.40625 15.2812 8.63281 14.375 8.94531 13.2031C9.27344 12.0312 9.53125 11.0859 9.71875 10.3672C9.1875 10.8672 8.48437 11.5625 7.60937 12.4531C6.75 13.3281 6.07812 13.9844 5.59375 14.4219C5.10937 14.8437 4.64062 15.1875 4.1875 15.4531C3.5625 15.8125 2.99219 15.9922 2.47656 15.9922C1.80469 15.9922 1.32031 15.7187 1.02344 15.1719C0.882812 14.9219 0.8125 14.6797 0.8125 14.4453C0.8125 13.7109 1.34375 13.0234 2.40625 12.3828C2.875 12.1172 3.40625 11.8906 4 11.7031C4.59375 11.5 5.47656 11.25 6.64844 10.9531C7.83594 10.6406 8.79687 10.375 9.53125 10.1562C8.84375 9.95312 7.89844 9.69531 6.69531 9.38281C5.50781 9.07031 4.60156 8.8125 3.97656 8.60937C3.36719 8.40625 2.82812 8.17969 2.35937 7.92969C1.34375 7.32031 0.835937 6.63281 0.835937 5.86719C0.835937 5.58594 0.914062 5.3125 1.07031 5.04687C1.32031 4.54687 1.75781 4.29687 2.38281 4.29687C2.89844 4.29687 3.48437 4.48437 4.14062 4.85937C4.625 5.14062 5.10937 5.5 5.59375 5.9375C6.07812 6.375 6.74219 7.03125 7.58594 7.90625C8.44531 8.76562 9.14062 9.44531 9.67187 9.94531C9.51562 9.27344 9.27344 8.34375 8.94531 7.15625C8.61719 5.95312 8.38281 5.03125 8.24219 4.39062C8.10156 3.73437 8.03125 3.14062 8.03125 2.60937C8.03125 1.71875 8.20312 1.0625 8.54687 0.640624C8.89062 0.218749 9.3125 0.00781149 9.8125 0.00781149C10.2969 0.00781149 10.7031 0.218749 11.0312 0.640624C11.375 1.0625 11.5469 1.71875 11.5469 2.60937C11.5469 3.15625 11.4766 3.75 11.3359 4.39062C11.2109 5.01562 10.9844 5.91406 10.6562 7.08594C10.3437 8.24219 10.0937 9.17969 9.90625 9.89844C10.4375 9.39844 11.1328 8.71094 11.9922 7.83594C12.8672 6.96094 13.5391 6.30469 14.0078 5.86719C14.4922 5.42969 14.9609 5.07812 15.4141 4.8125C16.0703 4.45312 16.6406 4.27344 17.125 4.27344C17.8125 4.27344 18.3047 4.54687 18.6016 5.09375C18.7422 5.34375 18.8125 5.58594 18.8125 5.82031C18.8125 6.58594 18.2734 7.27344 17.1953 7.88281C16.7266 8.14844 16.1953 8.38281 15.6016 8.58594C15.0078 8.77344 14.1172 9.02344 12.9297 9.33594C11.7578 9.63281 10.8047 9.89062 10.0703 10.1094C10.7734 10.3125 11.7187 10.5781 12.9062 10.9062C14.1094 11.2187 15.0156 11.4766 15.625 11.6797C16.2344 11.8672 16.7734 12.0859 17.2422 12.3359Z" fill="#FCFCFC"/>
                </svg>
            .advantages__content-inner
                #advantage-transparency.advantages__content-item.advantages__content-item--active
                    h4.advantages__content-title We offer End-to-End Solutions1.
                    p
                        | With tens of skilled and experienced developers, designers, engineers, experts, and project managers on your case, you can trigger sustainable growth after launch. We focus on pushing your business forward in any industry.
                #advantage-communication.advantages__content-item
                    h4.advantages__content-title We offer End-to-End Solutions2.
                    p
                        | Our clients love our services because of our transparent and customer-centric approach. While working on your project, we ensure that you&rsquo;re always in the loop and do everything with your approval.
                #advantage-project-management.advantages__content-item
                    h4.advantages__content-title We offer End-to-End Solutions3.
                    p
                        | At Aloomic, we believe in delivering your services on time without cutting back on quality. Our experts complete your project within the deadline and still leave time for adjustments and upgrades.
            //- // /.advantages__content-inner
        //- // /.advantages__content-wr
    //- End desktop

    .advantages__mobile
        +advMobItem('advantages__mob-item', 'Transparency')
        +advMobItem('advantages__mob-item', 'Communication')
        +advMobItem('advantages__mob-item', 'Project Management')
    //- End mobile