section.hero(data-scroll-section)
    div.hero__heading#heading(data-scroll data-scroll-speed="-3" data-scroll-call="homeHero" data-scroll-id="homeHero" data-scroll-repeat)
        +heading--hero('hero__heading-inner', 'headingInner', [`LET'S`, 'CREATE', 'IMPACTFUL'], '', 'Digital', 'Experience')