section.post-content
    h1.post-content__title Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, tempore?

    +responsiveImage('post-content__general-img', '', '/assets/pics/blog-post/1', 'jpg')
    +post-date('post-content__date')

    h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit urna id praesent
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nunc, blandit id sit interdum malesuada commodo massa suspendisse. Scelerisque sed amet risus urna. Eu in sed proin massa nisl id at sodales. Nunc quis diam non et. Erat amet sed libero vitae. Mi odio commodo tristique viverra in rutrum quam faucibus orci.<br>Donec elementum nulla aliquet tellus. Curabitur at lorem at sit auctor vulputate neque. Convallis elit ac et, ac viverra pellentesque ac, lectus mauris. Ac nullam mauris quisque nulla eget id. Eu euismod integer ut vel mus adipiscing ut scelerisque. Nisl integer leo, eget nisl diam est. Nisl sed vitae non, ac elit ut ullamcorper morbi. Quis donec ornare placerat eu ut faucibus consequat eu tempor. Tristique arcu nunc, sem eu morbi platea vulputate. Eget mollis ut lorem a suspendisse adipiscing varius suscipit. Morbi et aenean at nunc, egestas.

    h3 Convallis elit ac et, ac viverra pellentesque ac
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nunc, blandit id sit interdum malesuada commodo massa suspendisse. Scelerisque sed amet risus urna. Eu in sed proin massa nisl id at sodales. Nunc quis diam non et. Erat amet sed libero vitae. Mi odio commodo tristique viverra in rutrum quam faucibus orci.<br>Donec elementum nulla aliquet tellus. Curabitur at lorem at sit auctor vulputate neque. Convallis elit ac et, ac viverra pellentesque ac, lectus mauris. Ac nullam mauris quisque nulla eget id. Eu euismod integer ut vel mus adipiscing ut scelerisque. Nisl integer leo, eget nisl diam est. Nisl sed vitae non, ac elit ut ullamcorper morbi. Quis donec ornare placerat eu ut faucibus consequat eu tempor. Tristique arcu nunc, sem eu morbi platea vulputate. Eget mollis ut lorem a suspendisse adipiscing varius suscipit. Morbi et aenean at nunc, egestas.

    img(src="/assets/pics/blog-post/2.jpg", alt="some alt")

    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit urna id praesent
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nunc, blandit id sit interdum malesuada commodo massa suspendisse. Scelerisque sed amet risus urna. Eu in sed proin massa nisl id at sodales. Nunc quis diam non et. Erat amet sed libero vitae. Mi odio commodo tristique viverra in rutrum quam faucibus orci.<br>Donec elementum nulla aliquet tellus. Curabitur at lorem at sit auctor vulputate neque. Convallis elit ac et, ac viverra pellentesque ac, lectus mauris. Ac nullam mauris quisque nulla eget id. Eu euismod integer ut vel mus adipiscing ut scelerisque. Nisl integer leo, eget nisl diam est. Nisl sed vitae non, ac elit ut ullamcorper morbi. Quis donec ornare placerat eu ut faucibus consequat eu tempor. Tristique arcu nunc, sem eu morbi platea vulputate. Eget mollis ut lorem a suspendisse adipiscing varius suscipit. Morbi et aenean at nunc, egestas.

    .post-content__controls
        +link--back('post-content__back-link', 'Back to Blog page')
        //- +btn--type_fill('post-content__stay-btn', 'Stay with Us')
        a(class="btn btn--bg-fill post-content__stay-btn" href="/") Stay with Us
//- End post content