.section.together(data-scroll-section)
    .together__left-side(data-scroll data-scroll-offset="30%" data-scroll-speed="4")
        h3.together__title When all the parts come together
        p.together__text Capture, Proof & Convery Customers.
    //- End left side
    .together__right-side(data-scroll data-scroll-offset="30%" data-scroll-speed="2")
        .together__words-line
            span.together__word.together__word--color Creative
            span.together__word.together__word--gradient better
        .together__words-line
            span.together__word.together__word--gradient reasonable
            span.together__word.together__word--color for
        .together__words-line
            span.together__word.together__word--color every
            span.together__word.together__word--gradient business
            span.together__word.together__word--dotted.together__word--color .
    //- End right side