section.welcome.bg--down-angle.bg--down-angle-white
    +responsiveImage('wlcome__bg', 'section-bg', '/assets/pics/welcome', 'jpg')

    //- Heading
    - var heading__mods = 'heading--size-xl color-light text-center'
    - var heading__title2 = 'Fresno City Inn is Your Base Near Yosemite'
    - var heading__title = ''
    - var heading__title3 = ''
    - var heading__desc = '<p>Our oversized rooms and suites, convenient amenities, and friendly staff make us the best choice for budget-minded travelers. Parking and WiFi are always free, and we welcome you to use our seasonal outdoor pool, our laundry facilities, and our vending machines</p>'
    - var heading__subtitle = 'Welcome to Fresno City Inn, an inviting place to stay near Yosemite National Park'
    - var heading__topIconName = 'top-title-icon'

    include ../modules/heading
    //- End heading