//- .mobile-nav.mobile-nav--active
.mobile-nav#mobileNav
    .mobile-nav__bgs
        span 
        span 
        span 
    //- End mobile nav

    .container.mobile-nav__container
        .mobile-nav__logo
            //- include ../../assets/devSvg/footer-logo.svg
        //- End logo

        nav.mobile-nav__navigation
            ul
                li
                    a(href="/") Lorem ipsum
                //- End item
                li
                    a(href="/") Rooms
                //- End item
            //- End list
        //- End moile nav general navigation

        .mobile-nav__btns
            a.btn.btn--like-link.mobile-nav__btn-link(href="#") Get here
            a.btn.btn--bg-fill-reverse.mobile-nav__btn-book(href="#") Book now
        //- End buttons
    //- End container