.heading {
    &__title {
        font-size: var(--fz-h1);
        line-height: var(--lh-h1);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-family: var(--font-secondary);
    }

    &__title-sm {
        font-size: var(--fz-h2);
        line-height: var(--lh-h2);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
    }

    &__desc {
        margin-inline: auto;
        line-height: var(--lh-text);

        p {
            margin: .78vw 0 0;
        }
    }

    &__subtitle {
        font-size: var(--fz-title);
        line-height: var(--lh-title);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }

    &__top-icon {
        margin: 0 auto 2.5vw;
        width: 6rem;
        height: 10.1rem;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

@include media-1614 () {
    .heading {
        &__desc {
            margin-top: 3vw;
        }
    }
}

@include media-1199 {
    .heading--regular-title {
        padding-top: 7.5rem;
    }
}

// @include media-991 {
//     .heading {
//         // &__desc {
//         //     margin-top: 1.5rem;
//         // }
        
//         // &__subtitle {
//         //     margin-top: 2rem;
//         // }
//     }
// }

// @include media-767 {
//     .heading {
//         &__subtitle {
//             font-size: 4vw;
//             margin-top: 1vw;
//         }
//     }
// }

@include media-575 {
    .heading {
        &__top-icon {
            width: 4rem;
            height: 6.1rem;
        }
    }
}