.post-content {
    padding: 8vw 0 7.5vw;

    img {
        width: 100%;
    }

    &__date {
        color: var(--color-gray);
    }

    h1, h2, h3, &__date, img {
        margin-top: 2.5vw;
    }

    h1, h2, h3 {
        text-transform: uppercase;
    }

    h1, h2 {
        font-size: var(--fz-h2);
        line-height: var(--lh-h2);
    }

    h3 {
        font-size: var(--fz-title);
        line-height: var(--lh-title);
    }

    p {
        margin-top: 1.25vw;
    }

    &__controls {
        margin-top: 5vw;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        position: relative;
    }

    &__stay-btn {
        // position: absolute;
        // @include push--center-middle;
        padding: 0.8rem 6.4rem;
    }

    &__back-link {
        margin-top: 1.25vw;
    }
}

@include media-767 {
    .post-content {
        &__controls {
            justify-content: space-between;
        }

        &__stay-btn {
            position: relative;
            top: auto;
            left: auto;
            transform: translate(0, 0);
        }

        &__date {
            font-size: 1.3rem;
        }
    }
}

@include media-575 {
    .post-content {
        padding: 8rem 0;

        &__controls {
            margin-top: 5rem;
            flex-direction: column-reverse;
            justify-content: center;
            gap: 4rem;
        }

        &__back-link {
            align-self: flex-start;
        }

        &__date {
            font-size: 1.2rem;
        }
    }
}