.rooms {
    padding-top: 5vw;

    .heading__subtitle {
        margin-top: 0.83vw;
        color: var(--color-label);
    }

    &__slider-wrapper {
        margin-top: 3.33vw;
        height: 28rem;
    }

    &__slider-arrow {
        width: 4.8rem;
        height: 4.8rem;
        background: rgba(75, 20, 43, 0.8);
        transition: $transition--general;

        &::after {
            color: var(--color-bg);
            font-size: 1.8rem;
            transition: $transition--general;
        }

        &--next {
            right: 0;

            &:hover::after {
                transform: translateX(.5rem);
            }
        }

        &--prev {
            left: 0;

            &:hover::after {
                transform: translateX(-.5rem);
            }
        }

        &:hover {
            background: rgba(75, 20, 43, 1);
        }
    }
}

@include media-991 {
    .rooms {
        &__slider-wrapper, &__slide {
            height: 45vw;
        }
    }
}

@include media-767 {
    .rooms {
        &__slider-wrapper, &__slide {
            height: 70vw;
        }
    }
}

@include media-575 {
    .rooms {
        padding-top: 15vw;
        padding-bottom: 15vw;
    }
}