.custom-textarea {
    width: 100%;
    position: relative;

    &__field {
        width: 100%;
        height: 100%;
        padding: 2.4rem 0;
        color: var(--color-label);
        border: none;
        border-bottom: 2px solid var(--color-bg-dark);
        outline: none;
        resize: none;
        position: relative;

        @include placeholder {
            color: var(--color-label);
        }

    }

    &::after {
        @include pseudo;
        @include push--center;
        bottom: 0;
        height: 2px;
        width: 0;
        background: var(--color-label);
        transition: $transition--general;
    }

    &--focus::after {
        width: 100%;
    }
}