.room-post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5vw;

    &__img-wrapper {
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            position: relative;
            display: block;
            padding-top: 58%;
        }
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__title {
        font-size: var(--fz-title);
        line-height: var(--lh-title);
        letter-spacing: 0.18rem;
        text-transform: uppercase;
    }

    &__desc, &__controls {
        margin-top: 1.25vw;
    }

    // Controls
    &__controls {
        display: flex;
        align-items: center;
        grid-gap: 1.25vw;
    }

    &__check-btn {
        padding: 1.1rem 4.7rem;
        letter-spacing: 0.1em;
    }

    &__amenities {

        button {
            padding: 1.4rem 0;
        }
    }
    // End controls
}

@include media-991 {
    .room-post {
        &__title {
            font-size: 1.6rem;
        }
    }
}

@include media-767 {
    .room-post {
        align-items: flex-start;

        &__controls {
            margin-top: 2.5vw;
            grid-gap: 1.25vw;
            flex-direction: column;
        }
    }
}

@include media-575 {
    .room-post {
        grid-template-columns: 1fr;

        &__check-btn {
            width: 100%;
        }
    }
}